body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  background-color: black;
  margin: 0px;
  text-align: center;
  display: block;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header {
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;

}

header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
  display: block;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

nav a {
  color: seashell;
  text-decoration: underline;
}

/*Main content*/

.main-content {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

#mission {
  background-image: url(../image/img-mission-background.jpg);
  height: 700px;
  padding-top: 70px;
}

#mission .content {
  margin: auto;
  background-color: black;
  width: 100%;
}

h2, h4, h3 {
  margin: 0;
  padding: 10px;
}

/* MID */

#featured {
  height: 700px;
  width: 1000px;
  padding-top: 70px;
  margin: auto;
}

.teas {
  padding: 5px;
}

.teas img {
  margin: 10px;
  height: 200px;
  display: block;
}

.tea span {
  display: block;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

/* Bottom */

#locations {
  background-image: url(../image/img-locations-background.jpg);
  height: 500px;
  padding-top: 70px;
}

#locations .container {
  width: 1100px;
  margin: auto;
}

.location {
  display: flex;
  padding: 10px;
  background-color: black;
  margin: 5px 20px;
  flex-direction: column;
  justify-content: center;
  flex-basis: 280px;
}

footer {
  text-align: left;
  padding: 40px 60px;
}
